.form-container {
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
  padding: 2rem 1rem 1rem 1rem;
  border-top: 1px solid #aaa;
}

.form-group {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-group input {
  padding: 10px;
}

.form-group input::placeholder {
  color: #ccc;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add {
  padding: 0.75rem 2rem;
  background-color: #0290ff;
  font-weight: bold;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-2 {
  margin-left: auto;
}

.input-1 {
  flex: 1;
}

.books {
  padding-bottom: 2rem;
}

.heading-primary {
  color: #777;
}
