.book-container {
  width: calc(80%);
  padding: 1rem;
  margin: 1rem auto;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

.gunra {
  color: #777;
}

.author {
  color: rgb(113, 153, 228);
  margin-bottom: 1rem;
}

.btn-remove {
  background-color: transparent;
  padding: 5px 10px;
  font-size: 20px;
  color: rgb(35, 35, 216);
  outline: none;
  border: none;
  cursor: pointer;
}
